.search-panel {
  margin-top: 30px; /* зовнішній відступ зверху */
  padding: 25px; /* внутрішній відступ з усіх сторін */
  background: #3d5a80; /* колід для фона */
  border-radius: 4px; /* скруглення */
  box-shadow: 15px 15px 30px rgba(0,0,0, .15); /* колід для тіні */
  color: #fff; /* колід для тексту */
}